{% from 'macros/_error_list.html' import errors_list %}

<form 
    id="create-product"
    hx-post="{{ url_for('products.create_product') }}"
    hx-swap="outerHTML"
    novalidate
    >

    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }} {{ form.name  }}
        {% if form.name.errors %}
            {{ errors_list(form.name.errors)}}
        {% endif %}
    </div>
    <div>
        {{ form.price.label }} {{ form.price }}
        {% if form.price.errors %}
            {{ errors_list(form.price.errors)}}
        {% endif %}
    </div>
    {{ form.submit}}

    <button type="submit">Add</button>
</form>