<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    {% block body %}
    {% endblock %}


    {% block footer %}
    {% endblock footer %}
    
    <script 
    src="https://unpkg.com/htmx.org@2.0.4" 
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", (event) => {
          document.body.addEventListener('htmx:beforeSwap', function (evt) {
            if (evt.detail.xhr.status === 422) {
              // allow 422 responses to swap
              // as we are using this as a signal
              // that a form was submitted with bad data
              // and want to rerender with the errors
              //
              // set isError to `false`
              // to avoid error logging in console
              evt.detail.shouldSwap = true;
              evt.detail.isError = false;
            }
          });
        });
      </script>

</body>
</html>